h2 {
    text-align: center;
}

.loadingServersList {
    display: block;
    margin: auto;
}

.serversContainer {
    margin: auto;
    width: 60%;
}

.row {
    width: 100%;
    margin: auto;

    display: flex;
}

.server {
    width: 95%;
    margin: auto;

    background-color: black;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
    margin-bottom: 10px;

    transition: background-color 0.3s;
    font-size: 0.8em;
    cursor: pointer;
}

.serverStatus {
    width: 5%;
    height: auto;
}

.serverStatus img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.serverStatus div {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    padding-bottom: 40%;
    vertical-align: middle;
}

.serverOnline {
    background-color: green;
}

.serverOffline {
    background-color: red;
}

@media only screen and (max-width: 1000px) {
    :global(.container) {
        width: 95%;
    }

    .row {
        width: 100%;
        font-size: 1em;
    }

    .serverData div {
        word-wrap: break-word;
        width: auto;
    }
}

.serverData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.server:hover {
    background-color: grey;
}

.serverData div {
    width: 33%;
}

.description {
    padding: 0.3em;
    display: none;
    word-wrap: break-word;
}

.description.visible {
    display: block;
}