/* src/view/components/layout/index.css */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    /* TODO see if there is a better way to do this, probably not since we're service static content */
    background-image: url("../resources/img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mcd4e7dbfc_nav {
    height: auto;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    padding: .5em;
}

.mcd4e7dbfc_nav a {
    color: white;
    font-size: 1.5em;
    margin: auto;
    text-decoration: none;
}

.mcd4e7dbfc_nav a:hover {
    color: gray;
}

.container {
    width: 80%;
    margin: auto;
}

/* src/view/server-hub/index.css */
h2 {
    text-align: center;
}

.mc079b5ee1_loadingServersList {
    display: block;
    margin: auto;
}

.mc079b5ee1_serversContainer {
    margin: auto;
    width: 60%;
}

.mc079b5ee1_row {
    width: 100%;
    margin: auto;

    display: flex;
}

.mc079b5ee1_server {
    width: 95%;
    margin: auto;

    background-color: black;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
    margin-bottom: 10px;

    transition: background-color 0.3s;
    font-size: 0.8em;
    cursor: pointer;
}

.mc079b5ee1_serverStatus {
    width: 5%;
    height: auto;
}

.mc079b5ee1_serverStatus img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.mc079b5ee1_serverStatus div {
    margin-top: 20%;
    margin-left: 30%;
    width: 40%;
    padding-bottom: 40%;
    vertical-align: middle;
}

.mc079b5ee1_serverOnline {
    background-color: green;
}

.mc079b5ee1_serverOffline {
    background-color: red;
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 95%;
    }

    .mc079b5ee1_row {
        width: 100%;
        font-size: 1em;
    }

    .mc079b5ee1_serverData div {
        word-wrap: break-word;
        width: auto;
    }
}

.mc079b5ee1_serverData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.mc079b5ee1_server:hover {
    background-color: grey;
}

.mc079b5ee1_serverData div {
    width: 33%;
}

.mc079b5ee1_description {
    padding: 0.3em;
    display: none;
    word-wrap: break-word;
}

.mc079b5ee1_description.mc079b5ee1_visible {
    display: block;
}